@{
    ViewData["Title"] = "Product Deleted";
}

<h2>Product Deleted</h2>

<div class="alert alert-warning" role="alert">
    The product you attempted to add to your cart probably has been removed and no longer exists in our catalog.
</div>

<div>
    <a asp-action="Index" asp-controller="Articles">Return to Home</a>
</div>
